<div class="">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Edit <%= uname %></h4>
    <button class="btn btn-warning close" type="button" ng-click="cancel()">
      <span class="glyphicon glyphicon-remove"></span>
    </button>
    <button type="submit" class="btn btn-primary close" ng-disabled="<%= lname %>Form.$invalid" ng-click="edit<%= uname %>()">
      <span class="glyphicon glyphicon-ok"></span>
    </button>
  </div>
  <div  class="modal-body" id="modal-body">
    <form novalidate>
      <formly-form model="<%= lname %>Model" fields="<%= lname %>Schema" form="<%= lname %>Form">
      </formly-form>
    </form>

    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" ng-disabled="<%= lname %>Form.$invalid" ng-click="edit<%= uname %>()">Submit</button>
      <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
  </div>
</div>
